body
  background-color: #666

header
  text-align: center

  h1
    font-size: 4em
    /* text-shadow: 0px 2px 3px rgba(255, 255, 255, .3)
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135
    color: white

section
  background-color: #ffc
  width: 80%
  padding: 4% 2%
  margin: auto
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7)

  header
    label
      font-weight: bold

    input
      width: 80%

  article
    text-align: center

  form
    input
      width: 80%

    a
      display: block

      &.more:before
        content: '[+]'

      &.less:after
        content: '[−]'
