@charset "UTF-8";
body {
  background-color: #666666; }

header {
  text-align: center; }
  header h1 {
    font-size: 4em;
    /* text-shadow: 0px 2px 3px rgba(255, 255, 255, .3) */
    text-shadow: 0px 1px 0px #999999, 0px 2px 0px #888888, 0px 3px 0px #777777, 0px 4px 0px #666666, 0px 5px 0px #555555, 0px 6px 0px #444444, 0px 7px 0px #333333, 0px 8px 7px #001135;
    color: white; }

section {
  background-color: #ffffcc;
  width: 80%;
  padding: 4% 2%;
  margin: auto;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7); }
  section header label {
    font-weight: bold; }
  section header input {
    width: 80%; }
  section article {
    text-align: center; }
  section form input {
    width: 80%; }
  section form a {
    display: block; }
    section form a.more:before {
      content: "[+]"; }
    section form a.less:after {
      content: "[−]"; }
