@charset "UTF-8";
body {
  background-color: #555555; }

header {
  text-align: center; }
  header h1 {
    font-size: 4em;
    text-shadow: 0px 1px 0px #999999, 0px 2px 0px #888888, 0px 3px 0px #777777, 0px 4px 0px #666666, 0px 5px 0px #555555, 0px 6px 0px #444444, 0px 7px 0px #333333, 0px 8px 7px #001135;
    color: white; }

section {
  background-color: #ffffcc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#fffaae), to(#fff057));
  background-image: -moz-linear-gradient(#fffaae 0%, #fff057 90%);
  box-shadow: 0px 10px 16px #222222;
  width: 80%;
  padding: 5% 2%;
  margin: auto;
  font-family: "Reenie Beanie", cursive;
  font-size: 1.2em; }
  section input {
    width: 80%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid;
    font-size: 1.1em;
    background-color: transparent;
    font-family: "Mono";
    outline: none; }
    section input:focus {
      border-color: orangered; }
  section input[type=submit] {
    width: 20%;
    font-family: "Reenie Beanie", cursive;
    font-size: 1.8em;
    font-weight: bold;
    border: none;
    background-color: transparent; }
  section header {
    padding: 1%; }
    section header label {
      font-weight: bold;
      font-size: 1.8em; }
  section article {
    text-align: center; }
  section form table {
    width: 80%;
    margin: 5% auto; }
  section form th {
    font-size: 1.8em; }
  section form a {
    display: block; }
    section form a.more:before {
      content: "[+]"; }
    section form a.less:after {
      content: "[−]"; }

footer {
  color: #dddddd; }
  footer h3 {
    float: right;
    margin: 30px 15px 0; }
    footer h3 div.float {
      float: left;
      margin: 15px; }
    footer h3 div.postit {
      margin: 0;
      height: 50px;
      width: 50px;
      texu-align: center;
      background-color: yellow;
      box-shadow: 0 4px 6px black;
      opacity: 0.7;
      z-index: 1337; }
      footer h3 div.postit div {
        font-size: 12px;
        font-weight: bold;
        margin-top: 18px;
        -webkit-transform: rotate(45deg); }
        footer h3 div.postit div a {
          color: black;
          text-decoration: none; }
